<?xml version="1.0"?>

<configuration>

  <!-- <appSettings>

    <add key="WSGI_ALT_VIRTUALENV_HANDLER" value="app.wsgi_app" />

    <add key="WSGI_ALT_VIRTUALENV_ACTIVATE_THIS"

         value="D:\home\site\wwwroot\env\Scripts\python.exe" />

    <add key="WSGI_HANDLER"

         value="ptvs_virtualenv_proxy.get_venv_handler()" />

    <add key="PYTHONPATH" value="D:\home\site\wwwroot" />

  </appSettings> -->
</configuration>